<!DOCTYPE html>
<html lang="en">
<head>
  <title>MehdE-Commerce</title>
  {% block stylesheets %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{path('mehdi_core_homepage')}}">MehdE-Commerce</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li {% if 'mehdi_core_homepage' in app.request.attributes.get('_route')%} class="active" {% endif %}><a href="{{path('mehdi_core_homepage')}}">Accueil</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
			<li {% if 'mehdie_commerce_products' in app.request.attributes.get('_route')%} class="active" {% endif %}><a href="{{path('mehdie_commerce_products')}}">Produits</a></li>
		{% endif %}
		{%if is_granted('ROLE_ADMIN') %}
			<li {% if 'mehdie_commerce_category' in app.request.attributes.get('_route')%} class="active" {% endif %}>
				<a href="{{ path('mehdie_commerce_category')}}">Catégories</a>
			</li>
		{% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
			<li {% if 'fos_user_' in app.request.attributes.get('_route')%} class="active dropdown" {% else %} class="dropdown" {% endif %}>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li {% if 'fos_user_profile_show' in app.request.attributes.get('_route') %} class="active" {% endif %}>
					<a href="{{path('fos_user_profile_show')}}"><span class="glyphicon glyphicon-user"></span> Consulter le profil</a>
					</li>
					<li {% if 'fos_user_profile_edit' in app.request.attributes.get('_route') %} class="active" {% endif %}>
					<a href="{{path('fos_user_profile_edit')}}"><span class="glyphicon glyphicon-edit"></span> Modifier le profil</a>
					</li>
					<li {% if 'fos_user_change_password' in app.request.attributes.get('_route') %} class="active" {% endif %}>
					<a href="{{path('fos_user_change_password')}}"><span class="glyphicon glyphicon-lock"></span> Modifier le mot de passe</a>
					</li>
					<li {% if 'fos_user_security_logout' in app.request.attributes.get('_route') %} class="active" {% endif %}>
					<a href="{{path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-logout"></span> Se déconnecter</a>
					</li>
				</ul>
			</li>
			<li {% if 'mehdie_commerce_basket' in app.request.attributes.get('_route')%} class="active" {% endif %}><a href="{{path('mehdie_commerce_basket_index')}}"><span class="glyphicon glyphicon-shopping-cart"></span> Panier</a></li>
			<li {% if 'mehdie_commerce_commande' in app.request.attributes.get('_route')%} class="active" {% endif %}><a href="{{path('mehdie_commerce_commande_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Mes commandes</a></li>
		{% else %}
			<li><a href="{{path('fos_user_security_login')}}"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
			<li><a href="{{path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
		{% endif %}
      </ul>
    </div>
  </div>
</nav>

<!--<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br>-->

<div class="container">    
 {% block body %}
 {% endblock %}
</div><br><br>

<footer class="container-fluid text-center">
  <p>Copyright 2016</p>  
</footer>

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
